.Auth-group {
  width: 300px;
  &__input {
    width: inherit;
    input {
      width: inherit;
      height: 30px;
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}


@media (max-width: 420px) {
  .Auth-group {
    width: 250px;

    input {
      height: 20px;
    }
  }
}