.input {
  input {
    width: 320px;
    background: rgba(224, 224, 224, 0.81);
    border-radius: 50px;
    border: none;
    padding: 10px 25px;
    outline: none;
  }



@media (max-width: 525px) {
  input {
    width:250px;}
}
}