.todoList {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 400px;

  overflow: auto;
}


@media (max-height: 600px) {
  .todoList {
    max-height: 300px;
  }
}