.todoList-item {
  width: 100%;
  padding: 20px 50px;
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
  }

  &__line {
    border: 1px solid #333;
    border-radius: 50px;
  }

  &__name {
    font-size: 18px;
  }
}

.important {
  min-width: 50px;
  height: 20px;
  padding: 0px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  background: #D26868;
  color: #f4f4f4;
  border-radius: 25px;
}


@media (max-width: 525px) {
  .todoList-item {
    &__name {
      font-size: 14px;
    }
  }
}