.todoList-item {
  width: 100%;
  padding: 20px 50px;
  &__row {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
  }

  &__line {
    border: 1px solid #333;
    border-radius: 50px;
  }

  &__name {
    font-size: 18px;
  }
}
