.todo {
  width: 450px;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: #f4f4f4;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
  position: relative;
  Input {
    position: absolute;
    top: 93%;
    left: 50%;

    transform: translate(-50%);
  }
}

@media (max-width: 525px) {
  .todo {
    width: 300px;
    height: 400px;

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 12px !important;
    }

    Input {
      top: 90%;
    }
  }
}

@media (max-height: 645px) {
  //.todo {
  //  height: 450px;
  //}
}

@media (max-height: 645px) {
  .todo {
    height: 450px;
  }
}