.Auth {
  width: 500px;
  height: 200px;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);

  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  &__logo {
    margin-bottom: 20px;
    font-family: sans-serif;
    letter-spacing: .1rem;
  }
}

.Auth-group {
  width: 300px;
  &__input {
    width: inherit;
    input {
      width: inherit;
      height: 30px;
      &:last-child {
        margin-top: 10px;
      }
    }
  }
}

.Login-group {
  width: 300px;

  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .btn {
    width: 70px;
    height: 20px;

    border: none;

    background: #7AE291;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    line-height: 1.2rem;
    font-size: 12px;
  }
}